@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.nav-link {
  @apply px-3 py-2 text-gray-700 hover:text-blue-600 transition-colors duration-200;
}

.nav-link.active {
  @apply text-blue-600 font-medium;
}
